<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Zipcode</th>
      <th>Admin?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.zipcode %></td>
        <td><%= user.admin %> (<%= link_to "toggle", "#", class: "admin-link", data: { id: user.id } %>)</td>
      </tr>
    <% end %>
  </tbody>
<table>
