<div id="home">
  <div id="mainpage">
    <div class="owl-carousel">
      <div><%= image_tag "slider/1.jpg" %></div>
      <div><%= image_tag "slider/2.jpg" %></div>
      <div><%= image_tag "slider/3.jpg" %></div>
      <div><%= image_tag "slider/4.jpg" %></div>
      <div><%= image_tag "slider/5.jpg" %></div>
    </div>
    <h4 class="text-center"><%= link_to "Get Some Now!", jerky_path %></h4>
  </div>
</div>
