<div id="secondaryimage">
  <%= image_tag "shop.png" %>
</div>

<div id="products">
  <div id="mainpage">
    <h1>Shop</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 product-box">
          <div class="product-name"><%= product.name %></div>
          <div class="product-price">$<%= product.price %></div>
          <%= image_tag product.image.url, class: "product-image" %>
          <div class="product-description"><%= product.description %></div>
        </div>
      <% end %>
      <div class="clearfix">
    </div>
  </div>
</div>
