<div id="home">
  <div id="mainpage">
    <div class="owl-carousel margin-top-40">
      <div><%= image_tag "slider/1.png" %></div>
      <div><%= image_tag "slider/2.png" %></div>
      <div><%= image_tag "slider/3.png" %></div>
      <div><%= image_tag "slider/4.png" %></div>
    </div>
    <h4 class="text-center"><%= link_to "Giddy Up, Get Some Now!", jerky_path %></h4>
  </div>
</div>
