<div id="order">
  <div id="mainpage">
    <h1>Checkout</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantitity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr data-id="<%= order_item.product_id %>">
            <td><%= order_item.product.name %></td>
            <td><%= order_item.product.description %></td>
            <td>$<%= number_with_precision(order_item.product.price / 100.0, precision: 2) %></td>
            <td class="text-center"><%= order_item.quantity %></td>
            <td>$<%= number_with_precision(order_item.product.price * order_item.quantity / 100.0, precision: 2) %></td>
          </tr>
        <% end %>
        <tr>
          <td><b>Shipping</b></td>
          <td></td>
          <td>$<%= number_with_precision(@rate[:price] / 100.0, precision: 2) %></td>
          <td class="text-center"><%= @order.packs %></td>
          <td>$<%= number_with_precision(@order.shipping_total / 100.0, precision: 2) %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-12">
        <%= form_for :card, html: { id: "card-form", class: "form-horizontal margin-20" } do |f| %>
          <h3>Billing Details</h3>
          <div class="row padding-right-10 padding-0-mobile">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <p class="text-center error hide"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <%= f.label :name, "Name of Card Holder", class: "control-label" %>
                    <%= f.text_field :name, { value: current_user.try(:name), class: "form-control" } %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9">
                  <div class="form-group padding-right-10 padding-0-mobile">
                    <%= f.label :number, "Card Number", class: "control-label" %>
                    <%= f.text_field :number, { class: "form-control" } %>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group padding-left-10 padding-0-mobile">
                    <%= f.label :cvc, "CVC", class: "control-label" %>
                    <%= f.text_field :cvc, { class: "form-control" } %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group padding-right-10 padding-0-mobile">
                    <%= f.label :exp_month, "Exp. Month", class: "control-label" %>
                    <%= select_month nil, { use_month_numbers: true }, { name: "card[exp_month]", id: "card_exp_month", class: "form-control col-xs-2" } %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group padding-left-10 padding-0-mobile">
                    <%= f.label :exp_year, " Exp. Year", class: "control-label" %>
                    <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15 }, { name: "card[exp_year]", id: "card_exp_year", class: "form-control" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-xs-6 text-center order-actions">
              <%= f.submit "Purchase", class: "btn btn-green continue" %>
            </div>
            <div class="col-xs-6">
              <h3 class="margin-0">Total: $<span class="total"><%= number_with_precision(@order.total_price / 100.0, precision: 2) %></span></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div class="stripe-data hide" data-key="<%= ENV["STRIPE_PUBLIC"] %>"></div>
<%= form_tag order_purchase_path, method: :post, id: "order-purchase", class: "form-horizontal margin-20" do |f| %>
  <%= submit_tag "Purchase", class: "btn btn-green continue" %>
<% end %>
