<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>$<%= number_with_precision(product.price / 100.0, precision: 2) %></td>
        <td><%= link_to product.image.url, product.image.url, class: "admin-link" %></td>
        <td>
          <%= link_to "Edit", "#", class: "edit-product admin-link", data: { id: product.id } %> | 
          <%= link_to "Delete", product_path(id: product.id), method: :delete, class: "admin-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Product", "#", class: "create-product admin-create-btn" %>
<%= render partial: "products/form" %>
<% @products.each do |product| %>
  <%= render partial: "products/edit_form", locals: { product: product } %>
<% end %>
