<div id="primaryimage">
  <%= link_to "http://www.facebook.com/triplerfarms" do %>
    <%= image_tag "facebook.png", class: "facebook" %>
  <% end %>
</div>

<nav>
  <div id="nav">
    <%= link_to "Home", home_path %>
    <%= link_to "About Us", about_path %>
    <%= link_to "Jerky", jerky_path %>
    <%= link_to "Locations", locations_path %>
    <%= link_to "Contact Us", contact_path %>
  </div>
</nav>
