<div id="primaryimage">
  <%= link_to "http://www.facebook.com/triplerfarms" do %>
    <%= image_tag "facebook.png", class: "facebook" %>
  <% end %>
</div>

<nav>
  <div id="nav">
    <%= link_to "About Us", home_path %>
    <%= link_to "Jerky", jerky_path %>
    <%= link_to "Custom Orders", custom_orders_path %>
    <%= link_to "Locations/Contact Us", contact_path %>
  </div>
</nav>
