<div id="primaryimage">
  <%= link_to "http://www.facebook.com/triplerfarms" do %>
    <%= image_tag "facebook.png", class: "facebook" %>
  <% end %>
</div>

<nav>
  <div id="nav">
    <%= link_to "Home", home_path, class: "home-link" %>
    <%= link_to "About Our Farms", about_path, class: "about-link" %>
    <%= link_to "Jerky General Store", jerky_path, class: "jerky-link" %>
    <%= link_to "Contact Us", contact_path, class: "contact-link" %>
  </div>
</nav>
