<div id="primaryimage">
  <%= link_to "http://www.facebook.com/triplerfarms" do %>
    <%= image_tag "facebook.png", class: "facebook" %>
  <% end %>
</div>

<nav>
  <div id="nav">
    <div class="mobile-nav">
      <%= link_to "#" do %>
        <i class="fa fa-bars"></i>
        Menu
        <i class="fa fa-bars"></i>
      <% end %>
    </div>
    <div class="normal-nav">
      <%= link_to "Home", home_path, class: "home-link" %>
      <%= link_to "About Us", about_path, class: "about-link" %>
      <%= link_to "General Store", jerky_path, class: "jerky-link" %>
      <%= link_to "Our Farms", farms_path, class: "farms-link" %>
      <%= link_to "Contact Us", contact_path, class: "contact-link" %>
    </div>
  </div>
</nav>
